<h1 class="mt-4">Categoria</h1>
<div class="container">
	<ol class="breadcrumb mb-4">
		<li class="breadcrumb-item active">{{categoria.id ? 'Alteração':'Novo Cadastro'}}</li>
	</ol>
	<form #categoriaForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success" role="alert" *ngIf="success == true">
					Salvo com sucesso!
				</div>
				<div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
					{{erro.defaultMessage}}
				</div>
			</div>
		</div>

		<div class="row" *ngIf="categoria.id">
			<div class="col-md-6">
				<div class="form-group">
					<label>ID:</label>
					<input type="text" class="form-control" disabled=true [ngModel]="categoria.id" name="id">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Nome:</label>
					<input type="text" class="form-control" [(ngModel)]="categoria.nome" name="nome" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label>Descrição:</label>
					<input type="text" class="form-control" [(ngModel)]="categoria.descricao" name="descricao" />
				</div>
			</div>
		</div>
		
		<div class="row mt-3">
			<div class="col-md-6">
				<button type="submit" class="btn btn-success" *ngIf="!categoria.id">
					<i class="fa fa-save"></i> Salvar
				</button>
				<button type="submit" class="btn btn-primary ml-1" *ngIf="categoria.id">
					<i class="fa fa-sync-alt"></i> Atualizar Cadastro
				</button>

				<button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
					<i class="fa fa-arrow-alt-circle-left"></i> Voltar
				</button>
			</div>
		</div>
	</form>

</div>