<h1 class="mt-4">Transferência </h1>
<div class="transferenciainer">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{transferencia.id ? 'Alteração':'Novo Cadastro'}}</li>
    </ol>
    <form #transferenciaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true" >
                    Salvo com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors" >
                    {{erro.defaultMessage}}
                 </div>
            </div>
        </div>

        <div class="row" *ngIf="transferencia.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled=true [ngModel]="transferencia.id" name="id">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Descrição:</label>
                    <input type="text" class="form-control" [(ngModel)]="transferencia.descricao" name="nome" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor</label>
                    <app-campo-valor 
                        [(valor)]="transferencia.valor"
                        (valorAlterado)="valorAlterado($event)"
                    >
                    </app-campo-valor>                    
                </div>
            </div>
            <div class="col-md-6" >
                <div class="form-group">
                    <label>Data do lançamento</label>                    
                    <app-campo-data 
                        [data]="transferencia.data" 
                        [desabilita]="false" 
                        (dataAlterada)="dataAlterada($event)">
                    </app-campo-data>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Conta Origem</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="transferencia.conta.id">
                        <option value="">Selecione ...</option>
                        <option *ngFor="let conta of contas" [ngValue]="conta.id">
                            {{ conta.nome }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Conta Destino</label>
                    <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="transferencia.contaDestino.id">
                        <option value="">Selecione ...</option>
                        <option *ngFor="let conta of contas" [ngValue]="conta.id">
                            {{ conta.nome }}</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="row mt-3">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" *ngIf="!transferencia.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary ml-1" *ngIf="transferencia.id">
                    <i class="fa fa-sync-alt"></i> Atualizar Cadastro
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>

</div>

